html,
body {
  margin: 0;
  padding: 0;
  height: auto;
}

h1,
h2,
p {
  font-family: sans-serif;
}

header {
  height: 300px;
  width: 1000px;
  border: 1px solid black;
  margin: auto;
  padding: auto;
}

header img {
  float: left;
  height: 250px;
  width: auto;
}

header h1 {
  float: left;
  font-family: sans-serif;
  line-height: 50px;
  border: 1px solid blue;
  margin: 0;
}

main {
  position: relative;
  top: 20px;
  width: 1000px;
  min-height: 700px;
  border: 1px solid red;
  margin: auto;
}

footer {
  position: relative;
  top: 25px;
  width: 100%;
  height: 75px;
  border: 1px solid green;
}

table {
  font-size: 18px;
  font-family: sans-serif;
  border: 1px solid green;
}

#profile {
  float: left;
  margin-left: 50px;
  height: 250px;
  width: 400px;
  border: 1px solid red;
}

#profile th {
  text-align: left;
}

#profile table {
  float: left;
}

.social-media {
  float: left;
  line-height: 40px;
  text-decoration: none;
}

.social-media img {
  height: 40px;
  width: auto;
  margin-top: 0;
}

.social-media a {
  text-decoration: none;
}
